@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #E8D6F8;
}

.titulo-principal{
    font-size: 3rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}